.cssload-container *, .cssload-container *:before, .cssload-container *:after{
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cssload-container {
	margin: 106px auto;
	position: relative;
	width: 213px;
	height: 213px;
}
.cssload-container > div {
	float: left;
	background: rgb(185,108,255);
	height: 100%;
	width: 11px;
	margin-right: 2px;
	display: inline-block;
}

.cssload-container .cssload-shaft1 {
	animation-delay: 0.06s;
		-o-animation-delay: 0.06s;
		-ms-animation-delay: 0.06s;
		-webkit-animation-delay: 0.06s;
		-moz-animation-delay: 0.06s;
	-moz-animation-delay: 0.06s;
	-o-animation-delay: 0.06s;
	animation-delay: 0.06s;
}
.cssload-container .cssload-shaft2 {
	animation-delay: 0.12s;
		-o-animation-delay: 0.12s;
		-ms-animation-delay: 0.12s;
		-webkit-animation-delay: 0.12s;
		-moz-animation-delay: 0.12s;
	-moz-animation-delay: 0.12s;
	-o-animation-delay: 0.12s;
	animation-delay: 0.12s;
}
.cssload-container .cssload-shaft3 {
	animation-delay: 0.17s;
		-o-animation-delay: 0.17s;
		-ms-animation-delay: 0.17s;
		-webkit-animation-delay: 0.17s;
		-moz-animation-delay: 0.17s;
	-moz-animation-delay: 0.17s;
	-o-animation-delay: 0.17s;
	animation-delay: 0.17s;
}
.cssload-container .cssload-shaft4 {
	animation-delay: 0.23s;
		-o-animation-delay: 0.23s;
		-ms-animation-delay: 0.23s;
		-webkit-animation-delay: 0.23s;
		-moz-animation-delay: 0.23s;
	-moz-animation-delay: 0.23s;
	-o-animation-delay: 0.23s;
	animation-delay: 0.23s;
}
.cssload-container .cssload-shaft5 {
	animation-delay: 0.29s;
		-o-animation-delay: 0.29s;
		-ms-animation-delay: 0.29s;
		-webkit-animation-delay: 0.29s;
		-moz-animation-delay: 0.29s;
	-moz-animation-delay: 0.29s;
	-o-animation-delay: 0.29s;
	animation-delay: 0.29s;
}
.cssload-container .cssload-shaft6 {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
	-moz-animation-delay: 0.35s;
	-o-animation-delay: 0.35s;
	animation-delay: 0.35s;
}
.cssload-container .cssload-shaft7 {
	animation-delay: 0.4s;
		-o-animation-delay: 0.4s;
		-ms-animation-delay: 0.4s;
		-webkit-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.cssload-container .cssload-shaft8 {
	animation-delay: 0.46s;
		-o-animation-delay: 0.46s;
		-ms-animation-delay: 0.46s;
		-webkit-animation-delay: 0.46s;
		-moz-animation-delay: 0.46s;
	-moz-animation-delay: 0.46s;
	-o-animation-delay: 0.46s;
	animation-delay: 0.46s;
}
.cssload-container .cssload-shaft9 {
	animation-delay: 0.52s;
		-o-animation-delay: 0.52s;
		-ms-animation-delay: 0.52s;
		-webkit-animation-delay: 0.52s;
		-moz-animation-delay: 0.52s;
	-moz-animation-delay: 0.52s;
	-o-animation-delay: 0.52s;
	animation-delay: 0.52s;
}
.cssload-container .cssload-shaft10 {
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
	-moz-animation-delay: 0.58s;
	-o-animation-delay: 0.58s;
	animation-delay: 0.58s;
}

.cssload-container > div {
	background: transparent;
	border: 9px solid transparent;
	border-color: transparent transparent transparent rgb(185,108,255);
	border-radius: 100%;
		-o-border-radius: 100%;
		-ms-border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate"("-50%, -50%")";
		-o-transform: translate"("-50%, -50%")";
		-ms-transform: translate"("-50%, -50%")";
		-webkit-transform: translate"("-50%, -50%")";
		-moz-transform: translate"("-50%, -50%")";
	-moz-transform: translate"("-50%, -50%")";
	-ms-transform: translate"("-50%, -50%")";
	-o-transform: translate"("-50%, -50%")";
	transform: translate"("-50%, -50%")";
	transform: translate(-50%, -50%) rotate(0);
		-o-transform: translate(-50%, -50%) rotate(0);
		-ms-transform: translate(-50%, -50%) rotate(0);
		-webkit-transform: translate(-50%, -50%) rotate(0);
		-moz-transform: translate(-50%, -50%) rotate(0);
	-moz-transform: translate(-50%, -50%) rotate(0);
	-ms-transform: translate(-50%, -50%) rotate(0);
	-o-transform: translate(-50%, -50%) rotate(0);
	transform: translate(-50%, -50%) rotate(0);
	animation: cssload-fire 2.3s infinite ease-in-out;
		-o-animation: cssload-fire 2.3s infinite ease-in-out;
		-ms-animation: cssload-fire 2.3s infinite ease-in-out;
		-webkit-animation: cssload-fire 2.3s infinite ease-in-out;
		-moz-animation: cssload-fire 2.3s infinite ease-in-out;
	-moz-animation: cssload-fire 2.3s infinite ease-in-out;
	-o-animation: cssload-fire 2.3s infinite ease-in-out;
	animation: cssload-fire 2.3s infinite ease-in-out;
}
.cssload-container .cssload-shaft1 {
	animation-delay: 0.12s;
		-o-animation-delay: 0.12s;
		-ms-animation-delay: 0.12s;
		-webkit-animation-delay: 0.12s;
		-moz-animation-delay: 0.12s;
	-moz-animation-delay: 0.12s;
	-o-animation-delay: 0.12s;
	animation-delay: 0.12s;
	width: 43px;
	height: 43px;
}
.cssload-container .cssload-shaft2 {
	animation-delay: 0.23s;
		-o-animation-delay: 0.23s;
		-ms-animation-delay: 0.23s;
		-webkit-animation-delay: 0.23s;
		-moz-animation-delay: 0.23s;
	-moz-animation-delay: 0.23s;
	-o-animation-delay: 0.23s;
	animation-delay: 0.23s;
	width: 53px;
	height: 53px;
}
.cssload-container .cssload-shaft3 {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
	-moz-animation-delay: 0.35s;
	-o-animation-delay: 0.35s;
	animation-delay: 0.35s;
	width: 64px;
	height: 64px;
}
.cssload-container .cssload-shaft4 {
	animation-delay: 0.46s;
		-o-animation-delay: 0.46s;
		-ms-animation-delay: 0.46s;
		-webkit-animation-delay: 0.46s;
		-moz-animation-delay: 0.46s;
	-moz-animation-delay: 0.46s;
	-o-animation-delay: 0.46s;
	animation-delay: 0.46s;
	width: 74px;
	height: 74px;
}
.cssload-container .cssload-shaft5 {
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
	-moz-animation-delay: 0.58s;
	-o-animation-delay: 0.58s;
	animation-delay: 0.58s;
	width: 85px;
	height: 85px;
}
.cssload-container .cssload-shaft6 {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
	-moz-animation-delay: 0.69s;
	-o-animation-delay: 0.69s;
	animation-delay: 0.69s;
	width: 96px;
	height: 96px;
}
.cssload-container .cssload-shaft7 {
	animation-delay: 0.81s;
		-o-animation-delay: 0.81s;
		-ms-animation-delay: 0.81s;
		-webkit-animation-delay: 0.81s;
		-moz-animation-delay: 0.81s;
	-moz-animation-delay: 0.81s;
	-o-animation-delay: 0.81s;
	animation-delay: 0.81s;
	width: 106px;
	height: 106px;
}
.cssload-container .cssload-shaft8 {
	animation-delay: 0.92s;
		-o-animation-delay: 0.92s;
		-ms-animation-delay: 0.92s;
		-webkit-animation-delay: 0.92s;
		-moz-animation-delay: 0.92s;
	-moz-animation-delay: 0.92s;
	-o-animation-delay: 0.92s;
	animation-delay: 0.92s;
	width: 117px;
	height: 117px;
}
.cssload-container .cssload-shaft9 {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
	-moz-animation-delay: 1.04s;
	-o-animation-delay: 1.04s;
	animation-delay: 1.04s;
	width: 128px;
	height: 128px;
}
.cssload-container .cssload-shaft10 {
	animation-delay: 1.15s;
		-o-animation-delay: 1.15s;
		-ms-animation-delay: 1.15s;
		-webkit-animation-delay: 1.15s;
		-moz-animation-delay: 1.15s;
	-moz-animation-delay: 1.15s;
	-o-animation-delay: 1.15s;
	animation-delay: 1.15s;
	width: 138px;
	height: 138px;
}


@-moz-keyframes cssload-fire {
	50% {
		transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
		border-color: transparent transparent rgba(86,215,198,0.1) rgb(86,215,198);
	}
	75% {
		border-color: rgba(86,215,198,0.1) transparent transparent rgb(86,215,198);
}
}
@-o-keyframes cssload-fire {
	50% {
		transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
		border-color: transparent transparent rgba(86,215,198,0.1) rgb(86,215,198);
	}
	75% {
		border-color: rgba(86,215,198,0.1) transparent transparent rgb(86,215,198);
}
}
@keyframes cssload-fire {
	50% {
		transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
		border-color: transparent transparent rgba(86,215,198,0.1) rgb(86,215,198);
	}
	75% {
		border-color: rgba(86, 215, 198, 0.1) transparent transparent #56D7C6;
}
}
@keyframes cssload-fire {
	50% {
		transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
		border-color: transparent transparent rgba(86,215,198,0.1) rgb(86,215,198);
	}
	75% {
		border-color: rgba(86,215,198,0.1) transparent transparent rgb(86,215,198);
	}
}

@-o-keyframes cssload-fire {
	50% {
		-o-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
		border-color: transparent transparent rgba(86,215,198,0.1) rgb(86,215,198);
	}
	75% {
		border-color: rgba(86,215,198,0.1) transparent transparent rgb(86,215,198);
	}
}

@-ms-keyframes cssload-fire {
	50% {
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
		border-color: transparent transparent rgba(86,215,198,0.1) rgb(86,215,198);
	}
	75% {
		border-color: rgba(86,215,198,0.1) transparent transparent rgb(86,215,198);
	}
}

@-webkit-keyframes cssload-fire {
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
		border-color: transparent transparent rgba(86,215,198,0.1) rgb(86,215,198);
	}
	75% {
		border-color: rgba(86,215,198,0.1) transparent transparent rgb(86,215,198);
	}
}

@-moz-keyframes cssload-fire {
	50% {
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
		border-color: transparent transparent rgba(86,215,198,0.1) rgb(86,215,198);
	}
	75% {
		border-color: rgba(86,215,198,0.1) transparent transparent rgb(86,215,198);
	}
}
